{% extends 'base.html.twig' %}

{% block title %}Horaires index{% endblock %}

{% block body %}
    <h1>Horaires index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jours</th>
                <th>Ouverture</th>
                <th>Fermeture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horaire in horaires %}
            <tr>
                <td>{{ horaire.id }}</td>
                <td>{{ horaire.jours }}</td>
                <td>{{ horaire.ouverture ? horaire.ouverture|date('H:i:s') : '' }}</td>
                <td>{{ horaire.fermeture ? horaire.fermeture|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_horaires_show', {'id': horaire.id}) }}">show</a>
                    <a href="{{ path('app_horaires_edit', {'id': horaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_horaires_new') }}">Create new</a>
{% endblock %}
