{% extends 'base.html.twig' %}

{% block title %}Horaires{% endblock %}

{% block body %}
    <h1>Horaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ horaire.id }}</td>
            </tr>
            <tr>
                <th>Jours</th>
                <td>{{ horaire.jours }}</td>
            </tr>
            <tr>
                <th>Ouverture</th>
                <td>{{ horaire.ouverture ? horaire.ouverture|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fermeture</th>
                <td>{{ horaire.fermeture ? horaire.fermeture|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_horaires_index') }}">back to list</a>

    <a href="{{ path('app_horaires_edit', {'id': horaire.id}) }}">edit</a>

    {{ include('horaires/_delete_form.html.twig') }}
{% endblock %}
