<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>V.Parrot</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="{{ asset('/assets/css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="{{ path('home') }}">V.Parrot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nos véhicules
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_voitures_occasion') }}">Véhicules d'occasion</a></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a class="dropdown-item" href="{{ path('app_voiture_new') }}">Ajouter un véhicule</a></li> 
                    {% endif %}
                    </ul>
                </li>

                <!-- Affichage du menu Témoignages seulement pour les utilisateurs authentifiés -->
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Témoignages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a class="dropdown-item" href="{{ path('temoignage_moderation') }}">Modérer les témoignages</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('temoignage_approved_list') }}">Voir les témoignages approuvés</a></li>
                        </ul>
                    </li>
                {% endif %}

                <!-- Vérification connexion/déconnexion -->
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.index') }}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
        <!-- Header-->
<header class="video-header">
    <video autoplay loop muted playsinline class="background-video">
        <source src="assets/videos/voiture.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="container d-flex align-items-center justify-content-center h-100">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6 text-overlay">
                <div class="text-center">
                    <h1 class="display-5 fw-bolder text-white mb-2">V.Parrot - Votre confiance, notre expertise.</h1>
                    <p class="lead text-white-60 mb-4">Avec plus de 15 ans d'expérience, nous vous garantissons des réparations fiables, un entretien de qualité, et des véhicules d'occasion sélectionnés avec soin. Confiez-nous votre voiture, nous veillons à sa performance et à votre sécurité.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-tools"></i></div>
                        <h2 class="h4 fw-bolder">Services de réparation complets</h2>
                        <p>Réparations mécaniques et carrosserie, un service sur mesure pour chaque véhicule.
Nos experts interviennent rapidement pour garantir performance, sécurité et longévité de votre voiture</p>
                        <a class="text-decoration-none" href="#contactez">
                            Prendre rendez-vous
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-car-front"></i></div>
                        <h2 class="h4 fw-bolder">Nos voitures d'occasion</h2>
                        <p>Chaque véhicule est inspecté en détail pour vous offrir sécurité et performance à un prix compétitif. Que vous soyez à la recherche d'une petite citadine, d'une berline confortable ou d'un SUV spacieux, nous avons ce qu'il vous faut.</p>
                        <a class="text-decoration-none" href="#contactez">
                            Prendre rendez-vous
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-gear-wide-connected"></i></div>
                        <h2 class="h4 fw-bolder">Un entretien régulier</h2>
                        <p>Assurez la longévité et la performance de votre voiture avec un entretien régulier ! Nos experts prennent soin de votre véhicule pour garantir sécurité et fiabilité au quotidien</p>
                        <a class="text-decoration-none" href="#contactez">
                            Prendre rendez-vous
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing section-->
<section class="bg-light py-5 border-bottom ">
    <div class="container px-5 my-5 ">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Nos Services</h2>
            <p class="lead mb-0">Découvrez nos services de réparation et d'entretien de véhicules.</p>
        </div>
        <div class="row gx-5 justify-content-center">
            {% for service in services %}
                <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0 ajustement">
                        <div class="card-body p-5 alignement">
                        <div>
                            <div class="small text-uppercase fw-bold text-muted">{{ service.title }}</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold ">{{ service.price|number_format(2, '.', '') }} €</span>
                                <span class="text-muted"></span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="text-primary"></i>
                                    {{ service.description|nl2br }} <!-- Utiliser nl2br pour les sauts de ligne -->
                                </li>
                            </ul>
                            </div>
                            <div class="d-grid alignement">
                                <a class="btn btn-outline-primary" href="#!">Choisir le service</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

 
        <!-- Testimonials section-->
     <section class="py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Témoignages clients</h2>
            <p class="lead mb-0">Nos clients adorent travailler avec nous</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                {% for temoignage in temoignages %}
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-1">{{ temoignage.comment }}</p>
                                    <div class="small text-muted">- {{ temoignage.name }}, Note: {{ temoignage.rating }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>  
         <a href="{{ path('temoignage_submit') }}" class="btn btn-primary avis">Rédiger un avis</a> 
        </section>
        <!-- Contact section-->
        <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5" id="contactez">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder">Nous contactez</h2>
                    <p class="lead mb-0">Un de nos experts vous répondra rapidement pour vous conseiller et trouver la solution adaptée à vos besoins.</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nom</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Veuillez mettre votre nom.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Adresse e-mail</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Veuilez entrer votre adresse e-mail.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Votre adresse e-mail n'est pas valide.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Numéro de téléphone</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Veuilez entrer votre numéro de téléphone.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Tapez votre message</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Envoyez</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
         <h3 class="text-center text-white">Horaires d'ouverture :</h3>
            <ul>
{% for horaire in horaires %}
    <p class="text-center text-white">Jour : {{ horaire.jour }}</p>
    <p class="text-center text-white">Ouverture : {{ horaire.heureOuverture|date('H:i') }}</p>
    <p class="text-center text-white">Fermeture : {{ horaire.heureFermeture|date('H:i') }}</p>
{% endfor %}

            </ul>
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>